
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.formik-error{
  display: block !important;
  color: red !important;
}


.addstudent{
  
  float: right;

}
.table-adjust{
  text-align: center;
}
.studentvalues{
  text-align: center;
}

.items-nav{
  float: right;

}

.sub-link{
  margin-left: 100px;
}

.student-value{
  width: 265px;
}

.search-page{
  margin-top:100px;
}
.student-form{
  background-image: url('./Components/Images/school-management-software.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  min-height: 100vh;
}
.heading{
  text-align: center;
}


.pass {
  color: green;
}
.fail {
  color: red;
}

.user-credit{
  border: 1px solid rgb(2, 16, 2);
  border-radius: 10px;
  height: 300px;
  width: 200px;
}
.student-details{
  border: 2px solid black;
  border-radius: 10px;
}